.signupbox
  .numbox01 01
  h1 註冊帳號
  h2 帳號
  br
  input.mail(type="text")
  br
  h2 密碼
  br
  input.pw(type="password")
  br
  input.send(type="submit" value="送出")
 
.loginbox
  .numbox02 02
  h1 登入帳號
  h2 帳號
  br
  input.usermail(type="text")
  br
  h2 密碼
  br
  input.userpw(type="password")
  br
  input.usersend(type="submit" value="送出")