.signupbox
  h1 註冊帳號 / 登入帳號
  h2 帳號
  br
  input.mail(type="text" placeholder="請輸入mail")
  br
  h2 密碼
  br
  input.pw(type="password" placeholder="請輸入密碼")
  br
  br
  input.send(type="submit" value="註冊")
  input.usersend(type="submit" value="登入")
